$text-color-button: #B2D235;
$background-color-button: #B2D235;

.navbar-nav {
  justify-content: flex-end;
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

li {
  margin: 10px;
}

.nav-link:hover {
    border: 1px solid #B2D235;
    background: #B2D235;
    border-radius: 42px;
    color: white !important;
    padding-left:20px !important ;
    padding-right:15px !important ;
}

@media (max-width: 992px) {
	// TODO
}
