.navbar-nav {
  justify-content: flex-end;

  .nav-item {
    .nav-link {
      font-size: 16px;
      text-transform: uppercase;
    }
    .nav-link:hover {
      border: 1px solid $main-color;
      background: $main-color;
      border-radius: 30px;
      color: white;
    }
  }
}

@media (min-width: 577px) and (max-width: 991px) {

}

@media (min-width: 375px) and (max-width: 576px) {
  .navbar-brand {
    width: 50%;

    .logo-image {
      width: 100%;
    }
  }
}
